<div id="page">
    <div id="cont1" @slideInOut>
      <div id="content1">
        <div class="big-404">404</div>
        <h2>Ой-ой! Эта страница убежала на чай с ниндзя 🍵</h2>
      </div>
      <img id="thimg" src="/404.fun.png" alt="404">
      <p>
        Похоже, наш маленький аниме-ниндзя случайно унес эту страницу в мир грёз и раменов! 🍜✨<br/>
        Но не переживайте — вы всегда можете вернуться на <a routerLink="/Main">главную</a> и продолжить свои приключения!
      </p>
      <p>Если найдёте эту страницу — передайте ниндзя, что пора возвращаться! Или хотя бы оставьте ему пару суши 🍣😉</p>
    </div>
  </div>
  
