<div id="page">
    <div id="cont1"  @slideInOut>
          <div id="content1">
            <h2>Sakura no Kaze - где встречаются меч и мечта</h2>
        </div>
            <img id="thimg" src="/3.jpg" alt="image">
                <h2>Вступайте в наш клуб!</h2>
                <a href="https://t.me/Sakura_No_Kaze_official">Вступить</a>
    </div>
    
<div @PageAnimation>
    <div id="maincont">
    <h1>Смотреть Брачные узы с семьёй Амагами</h1>
    <a routerLink = "/AnimePage"
    routerLinkActive = "active"
    [routerLinkActiveOptions]="{exact: true}"
    >←Назад</a
    >
 <div id="seria" *ngIf="activeSeria === 'Seria1'">
    <iframe src="https://kodik.info/seria/1361455/90bbc394036a8e8889cacc5b5a5bb971/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria2'">
    <iframe src="https://kodik.info/seria/1364626/5c9020e72fb2c450025a112970374643/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria3'">
    <iframe src="https://kodik.info/seria/1367454/c1f493c29a384648360fd4e5662817d5/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria4'">
    <iframe src="https://kodik.info/seria/1369891/fc385038c952f854f8a750648bd040de/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria5'">
    <iframe src="https://kodik.info/seria/1372810/13d936542cee0b5bb2cacdfa01a47324/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria6'">
    <iframe src="https://kodik.info/seria/1376169/d556f66da72b6cad8402d4a396b1848f/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria7'">
    <iframe src="https://kodik.info/seria/1379013/6fe2685391c6e44b8478cb01fa1ab14c/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria8'">
    <iframe src="https://kodik.info/seria/1383962/19f82f77d51d2d86a5ebc2ad97bfd642/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria9'">
    <iframe src="https://kodik.info/seria/1386780/dedeed3ba91d3195523ff89c9eab4585/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria10'">
    <iframe src="https://kodik.info/seria/1390097/19e5f3a686463d4ed2b8dff4fef9011c/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria11'">
    <iframe src="https://kodik.info/seria/1393103/1253e93adeedde1409d81fce3e94aefc/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria12'">
    <iframe src="https://kodik.info/seria/1396074/41b7da7455ad7b0c8ee8b49bc88d21d7/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria13'">
    <iframe src="https://kodik.info/seria/1398979/99401809cf1ab2890ac5575817cd9ae9/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria14'">
    <iframe src="https://kodik.info/seria/1406639/dc492be6ae5ef46e297fde5218d78ddc/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria15'">
    <iframe src="https://kodik.info/seria/1409272/e7168e0ffdbeda2f920779518d00060c/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria16'">
    <iframe src="https://kodik.info/seria/1413095/f2a7aa7b62275a1161eb7a4a8606a57e/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria17'">
    <iframe src="https://kodik.info/seria/1416603/b4b814680c1f29c044ff870a099c8f8c/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>\
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria18'">
    <iframe src="https://kodik.info/seria/1419622/09aca7ec7063aa8b720bb39ab4c100b0/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria19'">
    <iframe src="https://kodik.info/seria/1422522/1e29950479626be0436061806dd3db69/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria20'">
    <iframe src="https://kodik.info/seria/1425772/6d3ba22c565cba6686b88249efb1ffe1/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria21'">
    <iframe src="https://kodik.info/seria/1428565/e069add7a8d4355899ef7bbd16551888/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria22'">
    <iframe src="https://kodik.info/seria/1431526/81dcbc76e8ea7609eea037ef84f518fe/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria23'">
    <iframe src="https://kodik.info/seria/1434327/1bd7a0ff046052affdbacd48966dded1/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria24'">
    <iframe src="https://kodik.info/seria/1437048/fca760f03abe397e0bfc7e8591a2efd9/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
<button (click)="showSeria('Seria1')" >серия 1</button>
<button (click)="showSeria('Seria2')" >серия 2</button>
<button (click)="showSeria('Seria3')" >серия 3</button>
<button (click)="showSeria('Seria4')" >серия 4</button>
<button (click)="showSeria('Seria5')" >серия 5</button>
<button (click)="showSeria('Seria6')" >серия 6</button>
<button (click)="showSeria('Seria7')" >серия 7</button>
<button (click)="showSeria('Seria8')" >серия 8</button>
<button (click)="showSeria('Seria9')" >серия 9</button>
<button (click)="showSeria('Seria10')" >серия 10</button>
<button (click)="showSeria('Seria11')" >серия 11</button>
<button (click)="showSeria('Seria12')" >серия 12</button>
<button (click)="showSeria('Seria13')" >серия 13</button>
<button (click)="showSeria('Seria14')" >серия 14</button>
<button (click)="showSeria('Seria15')" >серия 15</button>
<button (click)="showSeria('Seria16')" >серия 16</button>
<button (click)="showSeria('Seria17')" >серия 17</button>
<button (click)="showSeria('Seria18')" >серия 18</button>
<button (click)="showSeria('Seria19')" >серия 19</button>
<button (click)="showSeria('Seria20')" >серия 20</button>
<button (click)="showSeria('Seria21')" >серия 21</button>
<button (click)="showSeria('Seria22')" >серия 22</button>
<button (click)="showSeria('Seria23')" >серия 23</button>
<button (click)="showSeria('Seria24')" >серия 24</button>

    </div>
</div>
