<div id="page">
    <div id="cont1"  @slideInOut>
        <div id="content1">
            <h2>Sakura no Kaze - где встречаются меч и мечта</h2>
        </div>
            <img id="thimg" src="/3.jpg" alt="image">
                <h2>Вступайте в наш клуб!</h2>
                <a href="https://t.me/Sakura_No_Kaze_official">Вступить</a>
    </div>
    
<div @PageAnimation>
    <div id="maincont">
    <h1>Смотреть Психопаспорт</h1>
    <a routerLink = "/AnimePage"
    routerLinkActive = "active"
    [routerLinkActiveOptions]="{exact: true}"
    >←Назад</a
    >
 <div id="seria" *ngIf="activeSeria === 'Seria1'">
    <iframe src="https://kodik.info/seria/517746/ad14210353ea9e39eeb83a59ed6ebcd1/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria2'">
    <iframe src="https://kodik.info/seria/517747/8a2beb3dbd378a6c7cb5bb911735b9c7/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria3'">
    <iframe src="https://kodik.info/seria/517748/a3d4cf8211269b64bb8277a1f7067925/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria4'">
    <iframe src="https://kodik.info/seria/517749/94984d269712d62023de512efbdca88e/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria5'">
    <iframe src="https://kodik.info/seria/517750/42328ce141d7d110c8d9c53e737df0e4/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria6'">
    <iframe src="https://kodik.info/seria/517751/cffa75e8edb22f635276e2e2f583408d/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria7'">
    <iframe src="https://kodik.info/seria/517752/366df8518c22634fd162b5453e88106c/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria8'">
    <iframe src="https://kodik.info/seria/517753/b334d70c6bf7dde3abb13a2533e122ec/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria9'">
    <iframe src="https://kodik.info/seria/517754/937a1c89a0e164504ec0ccb914c8300e/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria10'">
    <iframe src="https://kodik.info/seria/517755/8df7838f987148a8797d2f36abbfaa29/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria11'">
    <iframe src="https://kodik.info/seria/517756/b332e8b5362011ac8c097a4285893058/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria12'">
    <iframe src="https://kodik.info/seria/517757/5b009420b26c12b95f8c9e444ce9f489/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria13'">
    <iframe src="https://kodik.info/seria/517758/02904a2f305653b28c6bb3fd33b84083/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria14'">
    <iframe src="https://kodik.info/seria/517759/d3045d08f087b4b929c55f1a7b820e8a/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria15'">
    <iframe src="https://kodik.info/seria/517760/0a696333655c7d3b19892211cb474ef9/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria16'">
    <iframe src="https://kodik.info/seria/517761/1b7df748053f341e24aaaf86d3d808e5/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria17'">
    <iframe src="https://kodik.info/seria/517762/227081525e8819e296ec16393396c80e/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria18'">
    <iframe src="https://kodik.info/seria/517763/4f23a4f2686bc371ab67b970104aea29/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria19'">
    <iframe src="https://kodik.info/seria/517764/c45f054da1644e48a4e5e79fef75f428/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria20'">
    <iframe src="https://kodik.info/seria/517765/d2593b14985bb6f9d2a5faf128e397c5/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria21'">
    <iframe src="https://kodik.info/seria/517766/6e063be2e693b4158122d994b6067d6a/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria22'">
    <iframe src="https://kodik.info/seria/517767/d95721bc367da5b2d2ba93c78954397f/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 
<button (click)="showSeria('Seria1')" >серия 1</button>
<button (click)="showSeria('Seria2')" >серия 2</button>
<button (click)="showSeria('Seria3')" >серия 3</button>
<button (click)="showSeria('Seria4')" >серия 4</button>
<button (click)="showSeria('Seria5')" >серия 5</button>
<button (click)="showSeria('Seria6')" >серия 6</button>
<button (click)="showSeria('Seria7')" >серия 7</button>
<button (click)="showSeria('Seria8')" >серия 8</button>
<button (click)="showSeria('Seria9')" >серия 9</button>
<button (click)="showSeria('Seria10')" >серия 10</button>
<button (click)="showSeria('Seria11')" >серия 11</button>
<button (click)="showSeria('Seria12')" >серия 12</button>
<button (click)="showSeria('Seria13')" >серия 13</button>
<button (click)="showSeria('Seria14')" >серия 14</button>
<button (click)="showSeria('Seria15')" >серия 15</button>
<button (click)="showSeria('Seria16')" >серия 16</button>
<button (click)="showSeria('Seria17')" >серия 17</button>
<button (click)="showSeria('Seria18')" >серия 18</button>
<button (click)="showSeria('Seria19')" >серия 19</button>
<button (click)="showSeria('Seria20')" >серия 20</button>
<button (click)="showSeria('Seria21')" >серия 21</button>
<button (click)="showSeria('Seria22')" >серия 22</button>

    </div>
</div>

