<div id="page">
    <div id="cont1"  @slideInOut>

        <div id="content1">
            <h2>Sakura no Kaze - где встречаются меч и мечта</h2>
        </div>
            <img id="thimg" src="/3.jpg" alt="image">
                <h2>Вступайте в наш клуб!</h2>
                <a href="https://t.me/Sakura_No_Kaze_official">Вступить</a>
    </div>
    
<div @PageAnimation>
    <div id="maincont">
    <h1>Смотреть Звёздное Дитя</h1>
    <a routerLink = "/AnimePage"
    routerLinkActive = "active"
    [routerLinkActiveOptions]="{exact: true}"
    >←Назад</a
    >
    <h2>Упс контент не доступен! Смотрите на Jut.su!</h2>
    <a href="https://jut.su/oshii-no-ko/">Смотреть на Jut.su</a>
    </div>
</div>

