<div id="page">
    <div id="cont1"  @slideInOut>

        <div id="content1">
            <h2>Sakura no Kaze - где встречаются меч и мечта</h2>
        </div>
            <img id="thimg" src="/3.jpg" alt="image">
                <h2>Вступайте в наш клуб!</h2>
                <a href="https://t.me/Sakura_No_Kaze_official">Вступить</a>
    </div>
    
<div @PageAnimation>
    <div id="maincont">
    <h1>Смотреть Клинок рассекающий демонов</h1>
    <a routerLink = "/AnimePage"
    routerLinkActive = "active"
    [routerLinkActiveOptions]="{exact: true}"
    >←Назад</a
    >
 <div id="seria" *ngIf="activeSeria === 'Seria1'">
    <iframe src="https://kodik.info/seria/424881/5aa63006d467875cf14b94652d3474ab/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria2'">
    <iframe src="https://kodik.info/seria/426623/3b9eda487d515cc637f69344e208df88/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria3'">
    <iframe src="https://kodik.info/seria/428186/246d38a8c78247fb5283113b1e85ae16/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria4'">
    <iframe src="https://kodik.info/seria/430849/54c8bb7b6d210d5ec77e8c0a432af7df/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria5'">
    <iframe src="https://kodik.info/seria/432836/7221ccd17a3f8a4c74e6d675365e5715/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria6'">
    <iframe src="https://kodik.info/seria/434983/ebc6f62694b85a9cde5b0edf759a6fb5/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria7'">
    <iframe src="https://kodik.info/seria/437449/09b49d874d463ba3e1dcf5883f721086/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria8'">
    <iframe src="https://kodik.info/seria/440894/a53457eeab7ff311dc294aa8a47305e0/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria9'">
    <iframe src="https://kodik.info/seria/443158/a3f42337b8b574281ec0273d8d8065f9/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria10'">
    <iframe src="https://kodik.info/seria/444600/22092b45cb54987464a89c31f3d15915/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria11'">
    <iframe src="https://kodik.info/seria/449310/66a8ba93b8694467245af0674d05fdd3/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria12'">
    <iframe src="https://kodik.info/seria/449311/cdcf214998397b958aeafcbf6cb9865d/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria13'">
    <iframe src="https://kodik.info/seria/451738/65896ae071e7463adfc9166be926b559/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria14'">
    <iframe src="https://kodik.info/seria/454994/86531968bf01e1d437493e2d989d0814/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria15'">
    <iframe src="https://kodik.info/seria/457824/638232a7477cc3f6f49760b8542a3a44/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria16'">
    <iframe src="https://kodik.info/seria/460562/323cd3ef30a89c5106dd69cede99a168/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria17'">
    <iframe src="https://kodik.info/seria/464413/e51ea523887a715b21a0a02eefa0bf6b/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria18'">
    <iframe src="https://kodik.info/seria/467449/d1e17e1f4757e2ea331963de196831dd/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria19'">
    <iframe src="https://kodik.info/seria/470471/4c0d1706beeef4f2d0ee0e79ce340a13/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria20'">
    <iframe src="https://kodik.info/seria/473580/ff6d0ef5e1fa0199c2573c36136f3343/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria21'">
    <iframe src="https://kodik.info/seria/476896/aa7695959b8feb3482c099b4b0c33e96/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria22'">
    <iframe src="https://kodik.info/seria/479712/5b90c61f2bc94bd6a36105b6c1ba8e7f/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria23'">
    <iframe src="https://kodik.info/seria/481896/c00b9693425940ffb26249a843896754/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria24'">
    <iframe src="https://kodik.info/seria/484977/ed2b536321fd2655f3425a5392d5a2f7/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria25'">
    <iframe src="https://kodik.info/seria/487755/c8704071c4f87a66b8d86debbc9a5b71/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 <div id="seria" *ngIf="activeSeria === 'Seria26'">
    <iframe src="https://kodik.info/seria/490793/42a5632dd5b6aa688d88045b151c1344/720p" width="607" height="360" frameborder="0" AllowFullScreen allow="autoplay *; fullscreen *"></iframe>
 </div>
 
<button (click)="showSeria('Seria1')" >серия 1</button>
<button (click)="showSeria('Seria2')" >серия 2</button>
<button (click)="showSeria('Seria3')" >серия 3</button>
<button (click)="showSeria('Seria4')" >серия 4</button>
<button (click)="showSeria('Seria5')" >серия 5</button>
<button (click)="showSeria('Seria6')" >серия 6</button>
<button (click)="showSeria('Seria7')" >серия 7</button>
<button (click)="showSeria('Seria8')" >серия 8</button>
<button (click)="showSeria('Seria9')" >серия 9</button>
<button (click)="showSeria('Seria10')" >серия 10</button>
<button (click)="showSeria('Seria11')" >серия 11</button>
<button (click)="showSeria('Seria12')" >серия 12</button>
<button (click)="showSeria('Seria13')" >серия 13</button>
<button (click)="showSeria('Seria14')" >серия 14</button>
<button (click)="showSeria('Seria15')" >серия 15</button>
<button (click)="showSeria('Seria16')" >серия 16</button>
<button (click)="showSeria('Seria17')" >серия 17</button>
<button (click)="showSeria('Seria18')" >серия 18</button>
<button (click)="showSeria('Seria19')" >серия 19</button>
<button (click)="showSeria('Seria20')" >серия 20</button>
<button (click)="showSeria('Seria21')" >серия 21</button>
<button (click)="showSeria('Seria22')" >серия 22</button>
<button (click)="showSeria('Seria23')" >серия 23</button>
<button (click)="showSeria('Seria24')" >серия 24</button>
<button (click)="showSeria('Seria25')" >серия 25</button>
<button (click)="showSeria('Seria26')" >серия 26</button>

    </div>
</div>

