#cont1 {
    background-color: #262626;
    height: 800px;
    width: 340px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 250px;
}

#content1 {
    padding: 15px;
    font-family: 'Yuji Syuku', serif;
    width: 100%; 
}

#thimg {
    margin-top: 50px;
    height: 320px;
    width: 320px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}


h1{
    padding: 15px;
    font-family: 'Yuji Syuku', serif;
    font-size: 45px;
}

#page{
    display: flex;
}
a{
    background-color:#E91E63;
    font-size: 35px;
    font-family: 'Yuji Syuku', serif;
    text-decoration: none;
    color:#FFFFFE;
    margin: 10px;
    border-radius: 30px;
    position: relative;
    animation: glow 1.5s ease-in-out infinite alternate;
    transition: 0.5s linear;
    
}

a:hover{
    background-color: #B497BD;
    color: #4B2C58;

}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #B497BD;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 20px #B497BD;
  }
 }
 
button{
    background-color:#E91E63;
    font-size: 25px;
    font-family: 'Yuji Syuku', serif;
    text-decoration: none;
    color:#FFFFFE;
    margin: 10px;
    border-radius: 30px;
    border: none;
    animation: glow 1.5s ease-in-out infinite alternate;
    transition: 0.5s linear;
}

button:hover{
    background-color: #B497BD;
    color: #4B2C58;

}

#maincont {
    background-color: #262626;
    height: auto;
    width: 830px;
    margin-left: 40px;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 40px;
}


@media (max-width: 740px) {
    #cont1 {
        display: none;
    }

    #maincont {
        width: 373.5px;
        margin-left: 9px;
        border-radius: 9px;
        margin-bottom: 9px;
    }
    
    h1 {
        font-size: 20.25px;
    }
    
    iframe {
        width: 327.6px;
        height: 184.5px;
    }

    button, a {
        font-size: 13.5px;
    }
}
