<div id="page">
    <div id="cont1" @slideInOut>
        <div id="content1">
        <h2>✨ Sakura no Kaze — место, где природа встречает гармонию и вдохновение! 🌿</h2>
    </div>
            <h2>Секретики!! Наши любимые секретики)</h2>
</div>
    
<div @PageAnimation>
    <div id="maincont">
    <h1>Благодарный лист(Псевдонимы + рекомендации по аниме)</h1>
    <h1>Благодарим вас от всей души<br/>(а может и не от всей😊)!</h1>
    
    <div *ngFor="let item of secret" class="listsecret">
      <div class="name">
          <h2>Псевдноим: {{ item.nickname}} </h2>
          <h3>Рекомендовал: {{item.anime}}</h3>
          <h3>Любимая фраза: "{{item.fraza}}"</h3>
          <img [src]="item.avatar" alt="Avatar">
      </div>
      
  </div>  
    </div>
    </div>
</div>