<div id="page">
    <div id="cont1" @slideInOut>
        <div id="content1">
        <h2>✨ Sakura no Kaze — место, где природа встречает гармонию и вдохновение! 🌿</h2>
    </div>
            <h2>Секретики!! Наши любимые секретики)</h2>
</div>
    
<div @PageAnimation>
    <div id="maincont">
        <h1>Свиток благодарности — Псевдонимы и подарки в виде рекомендаций по аниме 📜✨</h1>
        <h1>
          От всего сердца благодарим вас за вашу тёплую поддержку 💖🙏.<br/>
          （…хотя, возможно, не за всё сразу, но это тоже часть очарования 😉😊）
        </h1>
    
    <div *ngFor="let item of secret" class="listsecret">
      <div class="name">
          <img [src]="item.avatar" alt="Avatar">
          <h2> {{ item.nickname}} </h2>
          <h3>Рекомендовал Аниме: {{item.anime}}</h3>
          <h3>Любимая фраза: "{{item.fraza}}"</h3>
          
      </div>
      
  </div>  
    </div>
    </div>
</div>