
#cont1 {
    background-color: #262626;
    height: 800px;
    width: 400px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 20px;
    margin-top: 30px;
}

iframe{
    border-radius: 10px;
    margin-bottom: 20px;
    width: 728px;
    height: 410px
}

#cont2 {
    background-color: #262626;
    height: 360px;
    width: 400px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

#content1 {
    padding: 15px;
    font-family: 'Playfair Display', serif;
    width: 100%; 
}

#thimg {
    margin-top: 50px;
    height: 320px;
    width: 320px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

img{
    border-radius: 8px;
}

#secret{
   background: none;
   cursor: none;
   text-decoration: none;
   border: none;
   animation: none;
   font-size: 20px;
   color: #262626;
  }

h1, h2{
    padding: 15px;
    font-family: 'Playfair Display', serif;
}

#page{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 45px;
}


p{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}

a{
    background-color:#E91E63;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:#FFFFFE;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      box-shadow: 0 0 5px #fff, 0 0 10px #B497BD;
    }
    to {
      box-shadow: 0 0 10px #fff, 0 0 20px #B497BD;
    }
   }  

#maincont {
    background-color: #262626;
    height: auto;
    width: 830px;
    margin-left: 40px;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#mainimg1{
    margin: 40px;
    height: 320px;
    width: 320px;
}
#mainimg2{
    margin-top: 40px;
    height: 320px;
    width: 320px;
}

@media (max-width: 740px) {
    #cont1 {
    display: none;
    }

    #cont2 {
    display: none;
    }

    #maincont {
        width: 373.5px;
        margin-left: 9px;
        border-radius: 9px;
        margin-bottom: 9px;
    }
    
    #mainimg1{
        margin: 18px;
        height: 160px;
        width: 160px;
    }
    #mainimg2{
        margin-top: 20px;
        height: 144px;
        width: 144px;
    }
    h1{
        font-size: 20.25px;
    }
    
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: large;
    }
    iframe{
        width: 327.6px;
        height: 184.5px
    }

    a{
        font-size: 13.5px;
    }
}